:root {
    --p :10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

/* CSS NAV */

nav {
    background-color: #0a6fa3;
    border-bottom: 1px solid white;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu:first-child > li{
    border-left: 1px solid white;
}

ul.menu > li > a{
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: whitesmoke;
}
ul.menu > li > a:hover{
    background-color: darkblue;
    color: white;
}

/* CSS HEADER */

header {
    background: linear-gradient(darkblue, blue);
}

h1.subject {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 1px 1px whitesmoke;
}


/* CSS FOOTER*/

footer {
    background-color: #0a6fa3;
    color: white;
}

footer div > ul{
    list-style-type: none;
}

/* CSS BODY */

.coures {
    width: 70%;
    margin: 0 auto;
}


.coures .title {
    background-color: #0166ff;
    color: white;
    padding: var(--p);
    margin-bottom: 0;
    border-radius: var(--p) var(--p) 0 0;
}

.avatar {
    width: 120px;
    border-radius: 50%;
}

.forum {
    padding: var(--p);
    border-bottom: 1px solid white;
    background-color: #72c1ea;
}

.forum:last-child{
    border-radius: 0 0 var(--p) var(--p);
}

.forum > p:last-child{
    direction: rtl;
    font-style: italic;
}

.ads > div {
    width: 14%;
    background: linear-gradient(#00bffe, #006efe);
    color: white;
    text-align: center;
    padding: 10rem 0;
    border-radius: var(--p);
    margin-top: 5px;
    position: fixed;
}

.ads > div:first{
    left: 0.5%;
}

.ads > div:last-child{
    right: 0.5%;
}